@import "../../../css-config/mixins.scss";

.cards {
  width: 100%;
  background: white;
  // height: fit-content;
  padding: 1rem;
  // margin-top: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;

  .created-card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    // background: antiquewhite;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    svg {
      font-size: 18px;
      margin-right: 3px;
      cursor: pointer;
    }
    .dropdown-content {
      position: absolute;
      background-color: #fff;
      box-shadow: 0px 2px 22px 0px #7e7a7a40;
      border-radius: 7px;
      padding: 7px 7px;
      // z-index: 1;
      top: 100%;
      width: 7.5rem;
      right: 0;
      color: black;

// z-index: -1;
      p {
        margin: 0;
        cursor: pointer;
        font-weight: 600;
        font-size: 12px;
        padding: 4px 5px;
        text-transform: none;
        &:hover {
          color: #cf3636;
        }
      }
    }
  }
  .created-card-title {
    width: 100%;
    height: 2rem;
    // background: aqua;
    font-size: 16px;
    font-weight: 600;
    P {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .created-card-checklist {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    margin-top: 0.5rem;
    p:last-child {
      background: #eeecec;
      padding: 1px 5px;
      border-radius: 2px;
      cursor: pointer;
    }
  }
  .created-card-lists {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    overflow-y: auto;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
  }

  label {
    max-width: 100%; /* Adjust the max-width as needed */
    height: fit-content;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;

    input {
      margin-left: 5px;
      margin-right: 10px;
      accent-color: #17a2b8;
    }

    white-space: pre-wrap; /* Allow long text to wrap to the next line */
    word-break: break-word; /* Break word if it exceeds the max-width */
  }

  label {
    width: 100%;
    max-width: 300px; /* Adjust the max-width as needed */
    height: fit-content;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;

    input {
      margin-left: 6px;
      margin-right: 11px;
      accent-color: #17a2b8;
    }

    white-space: pre-wrap; /* Allow long text to wrap to the next line */
    word-wrap: break-word; /* Break word if it exceeds the max-width */
  }

  .created-card-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    .date-btn {
      width: fit-content;
      display: flex;
      align-items: flex-start;
      #dateBtn {
        color: white;
        background: #cf3636;
      }
    }
    button {
      background: #eeecec;
      color: #767575;
      font-weight: 500;
      padding: 0.4rem 0.5rem;
      border-radius: 7px;
      border: none;
      width: fit-content;
      font-size: 9px;
      font-weight: 600;
      cursor: pointer;
    }
    .section-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 75%;
      // gap: 10px;
    }
  }
}
