@import "../css-config/mixins.scss";

.nav-items-container {
  width: 100%;
  // background-color: aqua;
  .heading {
    // background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    h1 {
      font-size: 1.2rem;
    }
  }
  .nav-menu {
    width: 100%;

    button {
      width: 100%;
      height: 2.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.5rem;
      padding-left: 4rem;
      border: none;
      cursor: pointer;
      background-color: white;
      img {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 1rem;
      }
      
      &.active{
        font-weight: 600;
        background: #4391ED1A;
      }
    }
  }
}
.logout-container {
  width: 100%;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #cf3636;
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;

    svg {
      width: 25px;
      height: 30px;
    }
  }
}
